@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51; /* charcoal */
  --background-start-rgb: 253, 253, 253; /* lightbg */
  --background-end-rgb: 240, 240, 240; /* darkbg */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: theme('colors.charcoal');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
